<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/Topbar.css}">
    <link rel="stylesheet" th:href="@{/css/EmployForm.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>INTRANET</title>
</head>
<body>

<div id="topbar" th:replace="components/Topbar :: topbar"></div>

<div class="container">
    <h1>구성원 정보 수정</h1>

    <form th:action="@{/employees/update}" th:object="${employeeUpdateForm}" method="post">
        <div class="section">
            <h2>기본정보</h2>
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" id="name" th:field="*{empName}" readonly />
            </div>
            <div class="form-group">
                <label for="empNum">사원번호</label>
                <input type="text" id="empNum" th:field="*{empNum}" readonly />
            </div>
        </div>

        <div class="section">
            <h2>부서 정보</h2>
            <div class="form-group">
                <label for="deptNo">부서</label>
                <select id="deptNo" th:field="*{deptNo}">
                    <option value="">선택</option>
                    <option th:each="dept : ${departments}" th:value="${dept.deptNo}" th:text="${dept.deptName}">부서1</option>
                </select>
            </div>
        </div>

        <div class="section">
            <h2>인사정보</h2>
            <div class="form-group">
                <label for="empPos">부서원/부서장</label>
                <select id="empPos" th:field="*{empPos}">
                    <option value="STAFF">사원</option>
                    <option value="ASSOCIATE">주임</option>
                    <option value="SENIOR_ASSOCIATE">대리</option>
                    <option value="MANAGER">과장</option>
                    <option value="SENIOR_MANAGER">차장</option>
                    <option value="GENERAL_MANAGER">부장</option>
                    <option value="DIRECTOR">이사</option>
                    <option value="SENIOR_DIRECTOR">전무</option>
                </select>
            </div>
            <div class="form-group">
                <label for="empHead">부서원/부서장</label>
                <select id="empHead" th:field="*{empHead}">
                    <option value="DepartmentMember">부서원</option>
                    <option value="DepartmentHead">부서장</option>
                </select>
            </div>
        </div>

        <div class="section">
            <button type="submit" class="submit-btn">사원 정보 변경</button>
        </div>
    </form>

</div>

<!-- Profile Modal -->
<div id="profileModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- 동적 내용이 로드 -->
        </div>
    </div>
</div>

<script>

    // 프로필 모달창
    function openProfileModal(employeeId) {
        $('#profileModal .modal-content').load('/employees/profileModalContent?id=' + employeeId, function() {
            $('#profileModal').modal('show');
        });
    }

</script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/EmployForm.js"></script>

</body>
</html>